body { 
    margin: 0; 
    background: #000; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

#gameCanvas {
    /* Artık büyütme yapmıyoruz, kendi doğal boyutunda */
    width: 800px; 
    height: 600px;
    border: 4px solid #fff; 
    /* image-rendering özelliklerini kaldırdık, çünkü pürüzsüz görünüm istiyoruz */
}